:root {
  --clr-very-dark-grey: hsl(248deg 15% 11%);
  --clr-dark-grey: hsl(248deg 10% 15%);
  --clr-grey: hsl(251deg 9% 53%);
  --clr-almost-white: hsl(252deg 11% 91%);

  --clr-neon-green: hsl(127deg 100% 82%);
  --clr-red: hsl(0deg 91% 63%);
  --clr-orange: hsl(13deg 95% 66%);
  --clr-yellow: hsl(42deg 91% 68%);
}

:root {
  --color-background: var(--clr-very-dark-grey);
  --color-foreground: var(--clr-dark-grey);

  --color-heading: var(--clr-almost-white);
  --color-text: var(--clr-almost-white);
  --color-text-muted: var(--clr-grey);

  --color-strong: var(--clr-neon-green);
  --color-medium: var(--clr-yellow);
  --color-weak: var(--clr-orange);
  --color-too-weak: var(--clr-red);

  --font-stack: "JetBrains Mono", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

html {
  display: grid;
  min-height: 100%;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: var(--font-stack);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
